#zone-3{
    min-width: 115px;
}
.spell-text{
    min-height: 10px;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}
.spell-text .dropzone{
    min-height: 30px;
}