/*dropzones and spells */
.dropzone{
    background-color: #a15a8c;
    display: inline-flex;
    float: left;
}
.entered-dropzone{
    background-color: #a05589;
    display: inline-flex;
    float: left;
}
.spell-dock{
    background-color: #581825;
    display: inline-flex;
    float: left;
}
.spell{
    background-color: #581845;
    color: whitesmoke;
    display: block;
 } 
#spell-dragging{
    background-color: #581845a4;
    color: whitesmoke;
    opacity: .75;
    display: block;
}

/* containers */
#spell-cast{
    background-color: #F2D0B7;
}
#spell-book{
    background-color: #ECC0A0;
}